################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Spark
/Tests/CollectionTest/obj/Debug/netcoreapp2.2
/.vs
/Commons/Helper/obj
