################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Spark
/Tests/CollectionTest/obj/Debug/netcoreapp2.2
/.vs
/Commons/Helper/obj
/**netcoreapp*
*log.txt*

/Commons/Commons.Extenssions/obj/Debug/netcoreapp2.2
/Commons/Commons.Signalr.Client/obj/Debug/netcoreapp2.2
/Commons/Common.Signalr.Client/obj/Debug/netcoreapp2.2
/Commons/Common.Signalr.Client/obj/Release/netcoreapp2.2
/Commons/Common.Signalr.Client/bin/Debug/netcoreapp2.2
/Commons/Commons.Domain/bin/Debug/netcoreapp2.2
/Commons/Commons.Domain/obj/Debug/netcoreapp2.2
/Commons/Commons.Domain/obj/Release/netcoreapp2.2
/Commons/Commons.Extenssions/bin/Debug/netcoreapp2.2
/Commons/Commons.Extenssions/bin/Release/netcoreapp2.2
/Commons/Commons.Extenssions/obj/Release/netcoreapp2.2
/Commons/Commons.Infrastruct/bin/Debug/netcoreapp2.2
/Commons/Commons.Infrastruct/obj/Debug/netcoreapp2.2
/Commons/Commons.Infrastruct/obj/Release/netcoreapp2.2
/Commons/Commons.IntegrationBus/bin/Debug/netcoreapp2.2
/Commons/Commons.IntegrationBus/obj/Debug/netcoreapp2.2
/Commons/Commons.IntegrationBus/obj/Release/netcoreapp2.2
/GateWays/ApiGateWay/bin/Debug/netcoreapp2.2
/GateWays/ApiGateWay/bin/Release/netcoreapp2.2
/GateWays/ApiGateWay/obj/Debug/netcoreapp2.2
/GateWays/ApiGateWay/obj/Release/netcoreapp2.2
/GateWays/ApiGateWay/obj
/GateWays/ApiGateWay/Properties/PublishProfiles
*log*.txt
*.csproj.user
/GateWays/WSGateWay/bin/Debug/netcoreapp2.2
/GateWays/WSGateWay/obj
/Services/Account/Account.Application/bin/Debug/netcoreapp2.2
/Services/Account/Account.Application/obj
/Services/Account/Account.Domain/bin/Debug/netcoreapp2.2
/Services/Account/Account.Domain/obj
/Services/Account/Account.Infrastruct/bin/Debug/netcoreapp2.2
/Services/Account/Account.Infrastruct/obj
/Services/Account/Account.Test/bin/Debug/netcoreapp2.2
/Services/Account/Account.Test/obj/Debug/netcoreapp2.2
/Services/Account/Account.Test/obj/Release/netcoreapp2.2
/Services/Account/Account.WebApi/bin/Debug/netcoreapp2.2
/Services/Account/Account.WebApi/obj/Debug/netcoreapp2.2/Account.WebApi.csproj.CopyComplete
/Services/Account/Account.WebApi/obj/Debug/netcoreapp2.2/Account.WebApi.csproj.FileListAbsolute.txt
/Services/Account/Account.WebApi/obj/Debug/netcoreapp2.2/Account.WebApi.dll
/Services/Account/Account.WebApi/obj/Debug/netcoreapp2.2/Account.WebApi.pdb
/Services/Account/Account.WebApi/obj/Debug/netcoreapp2.2/Account.WebApi.RazorTargetAssemblyInfo.cache
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.AssemblyInfo.cs
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.AssemblyInfoInputs.cache
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.assets.cache
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.csproj.CoreCompileInputs.cache
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.RazorAssemblyInfo.cs
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2/Account.WebApi.RazorAssemblyInfo.cache
/Services/Money/Money.Application/bin/Debug/netcoreapp2.2
/Services/Money/Money.Application/obj
/Services/Money/Money.Domain/bin/Debug/netcoreapp2.2
/Services/Money/Money.Domain/obj
/Services/Money/Money.Infrastruct/bin/Debug/netcoreapp2.2
/Services/Money/Money.Infrastruct/obj/Debug/netcoreapp2.2
/Services/Money/Money.Infrastruct/obj/Release/netcoreapp2.2
/Services/Money/Money.Test/bin/Debug/netcoreapp2.2
/Services/Money/Money.Test/obj/Debug/netcoreapp2.2
/Services/Money/Money.Test/obj/Release/netcoreapp2.2
/Services/Money/Money.WebApi/bin/Debug/netcoreapp2.2
/Services/Money/Money.WebApi/obj/Release/netcoreapp2.2
/Services/Robot/Robot/bin/Debug/netcoreapp2.2
/Services/Robot/Robot/obj
/Services/Sample/Sample.Application/bin/Debug/netcoreapp2.2
/Services/Sample/Sample.Application/obj
/Services/Sample/Sample.Domain/bin/Debug/netcoreapp2.2
/Services/Sample/Sample.Domain/obj
/Services/Sample/Sample.Infrastruct/bin/Debug/netcoreapp2.2
/Services/Sample/Sample.Infrastruct/obj
/Services/Sample/Sample.Test/bin/Debug/netcoreapp2.2
/Services/Sample/Sample.Test/obj
/Services/Sangong/Sangong.Application/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Application/obj
/Services/Sangong/Sangong.Domain/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Domain/obj
/Services/Sangong/Sangong.Game.WebApi/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Game.WebApi/obj/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Game.WebApi/obj/Release/netcoreapp2.2
/Services/Sangong/Sangong.Infrastruct/bin/Debug/netcoreapp2.2
/Tests/TaskTest/obj/Debug/netcoreapp2.2
/Tests/TaskTest/obj/Release/netcoreapp2.2
/Tests/TaskTest/bin/Debug/netcoreapp2.2
/Tests/SynchronizationContextTest/obj/Release/netcoreapp2.2
/Tests/SynchronizationContextTest/obj/Debug/netcoreapp2.2
/Tests/SynchronizationContextTest/bin/Debug/netcoreapp2.2
/Tests/StackExchangeRedisTest/obj/Release/netcoreapp2.2
/Tests/StackExchangeRedisTest/obj/Debug/netcoreapp2.2
/Tests/StackExchangeRedisTest/bin/Debug/netcoreapp2.2
/Tests/ServiceStackRedisTest/obj
/Tests/ReflectTest/obj/Release/netcoreapp2.2
/Tests/ServiceStackRedisTest/bin/Debug/netcoreapp2.2
/Tests/ReflectTest/bin/Debug/netcoreapp2.2
/Tests/ReflectTest/obj/Debug/netcoreapp2.2
/Tests/RabbitMqTestSender/obj
/Tests/RabbitMqTestSender/bin/Debug/netcoreapp2.2
/Tests/RabbitMqTest/obj/Release/netcoreapp2.2
/Tests/RabbitMqTest/obj/Debug/netcoreapp2.2
/Tests/RabbitMqTest/bin/Debug/netcoreapp2.2
/Tests/RabbitMqRecvTest/obj/Release/netcoreapp2.2
/Tests/RabbitMqRecvTest
/Tests/MassTransitTest/obj/Debug/netcoreapp2.2
/Tests/MassTransitTest/obj/Release/netcoreapp2.2
/Tests/MassTransitTest/bin/Debug/netcoreapp2.2
/Tests/MassTransitMessage/obj
/Tests/JsonTest/obj
/Tests/EasyNetQTest/obj
/Tests/CollectionTest
/Tests/EasyNetQTest/bin/Debug/netcoreapp2.2
/Tests/JsonTest/bin/Debug/netcoreapp2.2
/Tests/MassTransitMessage/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Test
/Services/Sangong/Sangong.Matching.WebApi/obj/Release/netcoreapp2.2
/Services/Sangong/Sangong.Matching.WebApi/obj/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Matching.WebApi/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Infrastruct/obj/Debug/netcoreapp2.2
/Services/Sample/Sample.WebApi/obj/Debug/netcoreapp2.2
/Services/Sample/Sample.WebApi/obj/Release/netcoreapp2.2
/Services/Sample/Sample.WebApi/bin/Debug/netcoreapp2.2
/Services/Sangong/Sangong.Infrastruct/obj/Release/netcoreapp2.2
/Commons/Commons.Domain/bin/Release/netcoreapp2.2
/Commons/Commons.Infrastruct/bin/Release/netcoreapp2.2
/Commons/Commons.IntegrationBus/bin/Release/netcoreapp2.2
/Services/Account/Account.Application/bin/Release/netcoreapp2.2
/Services/Account/Account.Domain/bin/Release/netcoreapp2.2
/Services/Account/Account.Infrastruct/bin/Release/netcoreapp2.2
/Services/Account/Account.WebApi/bin/Release/netcoreapp2.2
/Services/Account/Account.WebApi/obj/Release/netcoreapp2.2
/Services/Money/Money.WebApi/obj/Debug/netcoreapp2.2/Money.WebApi.csproj.CopyComplete
/Services/Money/Money.WebApi/obj/Debug/netcoreapp2.2/Money.WebApi.csproj.FileListAbsolute.txt
/Services/Money/Money.WebApi/obj/Debug/netcoreapp2.2/Money.WebApi.dll
/Services/Money/Money.WebApi/obj/Debug/netcoreapp2.2/Money.WebApi.pdb
/Services/Money/Money.WebApi/obj/Debug/netcoreapp2.2/Money.WebApi.RazorTargetAssemblyInfo.cache
/Services/Account/Account.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/Services/Account/Account.WebApi/Properties/PublishProfiles/FolderProfile.pubxml
